// colors
$black: #0c0e16;
$dark-purple: #7c5dfa;
$purple: #9277ff;
$light-purple: #dfe3fa;
$white-purple: #f9fafe;
$dark-orange: #ec5757;
$light-orange: #ff9797;

//text
$light-mode-text-purple: #7e88c3;
$dark-mode-text-purple: #dfe3fa;
$light-mode-text-gray: #888eb0;

//background
$background-white-purple: #f9fafe;
$background-light-purple: #dfe3fa;
$background-edit-dark: #252945;
$background-draft-dark-gray: #373b53;
$background-draft-hover-light: #0c0e16;
$background-draft-hover-dark: #1e2139;
